{#
/**
 * @file content_generate_entity.html.twig
 * Default theme implementation to present Contenu generer pour le referencement data.
 *
 * This template is used when viewing Contenu generer pour le referencement pages.
 *
 *
 * Available variables:
 * - content: A list of content items. Use 'content' to print all content, or
 * - attributes: HTML attributes for the container element.
 *
 * @see template_preprocess_content_generate_entity()
 *
 * @ingroup themeable
 */
#}
<div{{ attributes.addClass('content_generate_entity') }}>
  {% if content %}
    {{- content -}}
  {% endif %}
</div>
